@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --card-bg-color: #f0e9e0;
    --card-btn-color: #e4c8a2;
    --badge-color: #554f3c;
}

/* Navigation bar */
nav {
    background-color: var(--card-bg-color);
    padding: 0.3rem;
    max-width: 50rem;
    height: 4rem;
    margin: 1rem auto;
    border-radius: 0.3rem;
}

ul {
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

li {
    list-style: none;
    width: 5rem;
    height: 2rem;
    text-align: center;
}

a {
    color: var(--badge-color);
    font-size: 1.2rem; 
    margin: auto;
}

li:hover {
    background-color: var(--card-btn-color);
    border-radius: 0.3rem;
    cursor: pointer;
}

.active {
    background-color: var(--card-btn-color);
    border-radius: 0.3rem;
}

/* Home page main  */
main {
    max-width: 60rem;
    padding: 2rem;
    margin: 2rem auto;
    background: var(--card-btn-color);
    border-radius: 0.3rem;
    text-align: center;
}

/* Cards */
.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.card-basic{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    height: 24rem;
    width: 22rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--card-bg-color);
    margin: 1rem;
}

.card-basic-media img{
    border-radius: 0.3rem 0.3rem 0 0;
    height: 12rem;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.card-content{
    display: flex;
    height: 40%;
    justify-content: space-around;
    flex-flow: column;
    padding: 0.5rem 0.8rem;
    background-color: var(--lightest-bg-color);
    position: relative;
}

.card-basic-title {
    letter-spacing: 0.1rem
}

.card-actionbar{
    display: flex;
    height: 10%;
    padding:0.3rem;
    margin: 0.5rem;
}

.card-content-view{
    display: flex;
    flex-grow: 3;
    justify-content: space-evenly;
}

.card-basic-desc{
    padding: 0.5rem 0rem;
}

.card-content-view > button{
    border:none;
    font-weight: 700;
    padding: 0.3rem 0.3rem;
    letter-spacing: 0.1rem;
    justify-content: center;
    background: transparent;
}

.card-content-action{
    display: flex;
    flex-grow: 3;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.card-content-view > button:hover{
    background-color: #baab96;
    cursor: pointer;
    border-radius: 0.3rem;
}

i:hover {
    cursor: pointer;
}

.card-actionbar {
    padding: 0.2rem;
}

/* card-basic-w/text over media */

.card-basic-tom{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    height: 22rem;
    width: 22rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--card-bg-color);
    margin: 1rem;
}

.card-basic-tom-title {
    position: absolute;
    left: 0.25rem;
    top: -5rem;
    padding: 0.5rem 0.8rem;
    letter-spacing: 0.1rem;
    color: white;
}

/* card-with-header */

.card-header-title, .card-header-desc {
    padding: 0.5rem 0.8rem;
}

.card-header-media img{
    height: 12rem;
    width: 100%;
    object-fit: cover;
    position: relative;
}

/* Badges */

/* Text with badge */

.badges {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
}

.text-w-badge {
    position: relative;
}

.badge-medium-content {
    color: white;
}

.badge-large {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    top: -1rem;
    right: -1rem;
    background-color: var(--badge-color);
}

.badge-large-content {
    color: white;
}

.btn-primary {
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--badge-color);
    color: var(--card-bg-color);
    font-size: 1.2rem;
    transition: 0.2s ease;
}

.btn-primary:hover {
    cursor: pointer;
}

.btn-w-left-badge {
    position: relative;
}

.badge-medium {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    top: -0.8rem;
    right: -0.8rem;
    background-color: var(--card-btn-color);
}

.badge-medium.left {
    left: -1rem;
}

.badge-medium-content {
    color: var(--badge-color);
}

/* Icon with a badge */
.icon-w-badge {
    position: relative;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
}


/* Chips  */
/* Choice chips */
.container {
    display: flex;
    flex-direction: column ;
    max-width: 50rem;
    gap: 1rem;
    margin: 2rem auto;
    padding: 1rem;
    align-items: center;
}

.chip-type {
    max-width: 40rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--card-bg-color);
    margin: 1rem;
    border-radius: 0.3rem;
}

.chip {
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    padding: 0.2rem 0.6rem;
    background-color: var(--card-btn-color);
    color: var(--badge-color);
    border-radius: 1rem;
    align-items: center;
    gap: 0.2rem;
}

.btn-chip {
    background: transparent;
    border: none;
}

.btn-chip:hover{
    cursor: pointer;
}

/* Dialogs */
.dialog-container {
    width: 70rem;
    display: flex;
    margin: 2rem auto;
}

.dialog {
    margin: 3rem auto;
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: var(--card-bg-color);
}

.dialog-action {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.dialog-action-btn {
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 0.2rem;
    color: var(--badge-color);
    font-size: 1.2rem;
    background: none;
    transition: 0.2s ease;
}

.dialog-action-btn:hover {
    cursor: pointer;
    background-color: var(--card-btn-color);
}
